<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="sscom40.exe.le.config" Guid="9afa7c7e-8462-4ea3-97bc-46f52d6bb17b" MainMenu="false">
      <Parameter></Parameter>
      <Location>zh-CN</Location>
      <Timezone>Taipei Standard Time</Timezone>
      <RunAsAdmin>false</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>false</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>